#grid-1 {
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
    background-color: $Moderate_violet;
}
#grid-1 img {
    border: 3px solid $Moderate_violet;
}
#grid-2 {
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
    background: $grayish_blue;
}
#grid-2 img {
    border: 3px solid $grayish_blue;
}
.grid-3 {
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
    background: $Whitish;
}
#grid-3 img {
    border: 3px solid $grayish_blue;
}
.grid-3-5 {
    border-radius: 15px;
    border: 1px groove red;
    box-shadow: 1px 1px 5px black;
    background: $Whitish;
}
#grid-3-5 img {
    border: 3px solid $grayish_blue;
}
#grid-4 {
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
    background: $blackish_blue;
}
#grid-4 img {
    border: 3px solid $Moderate_violet;
}
