html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    max-width: 1440px;
    min-width: 375px;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    flex: 2;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
}
